<!-- DO NOT AUTOFORMAT , it inserts space in the add-on spans... -->

<div class="form-inline">
	<strong class="instrument-params-title">Tolerance</strong> 
	<div class="input-append input-prepend instrument-params-precursor">
		<span class="add-on">precursor</span><input type="number" class="input-mini" name="precursorTol" value="{{precursorTol}}" size="4"/><span class="add-on">ppm</span>
	</div>
	
	<div class="input-append input-prepend instrument-params-fragment" style="margin-left:2em">
		<span class="add-on">fragments</span><input type="number" class="input-mini" name="fragmentTol" value="{{fragmentTol}}" size="4"/><span class="add-on">ppm</span>
	</div>
</div>

