<legend>
    {{labels.legend}}
</legend>

<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="input-sequence">{{labels.sequence}}</label>
        <div id="rich-sequence-input" class="controls">

        </div>

    </div>
    <div class="control-group">
        <label class="control-label" for="input-sequence">{{labels.implicitModif}}</label>
        <div class="controls">
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="none" style="margin-right:20px;margin-left:10px">
                    none</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="prop_d0" style="margin-right:20px;margin-left:10px">
                    prop.</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="prop_d5" style="margin-right:20px;margin-left:10px">
                    prop. 2H(5)</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="prop_d5_nterm" style="margin-right:20px;margin-left:10px">
                    prop. 2H(5) nTerm, d0 intern</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="pic,prop_d0" style="margin-right:20px;margin-left:10px">
                    prop. + PIC</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="pic,prop_d5" style="margin-right:20px;margin-left:10px">
                    prop. 2H(5) + PIC</input> </label>
            </div>
           <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="pic_heavy,prop_d0" style="margin-right:20px;margin-left:10px">
                    prop. + PIC (<sup>13</sup>C6)</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="prop_d0,silac" style="margin-right:20px;margin-left:10px">
                    prop. + silac</input> </label>
            </div>
             <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="prop_d5,silac" style="margin-right:20px;margin-left:10px">
                    prop. 2H(5) + silac</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="prop_d0,super_silac" style="margin-right:20px;margin-left:10px">
                    prop. + super_silac</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="pic,prop_d0,silac" style="margin-right:20px;margin-left:10px">
                    prop. + PIC + SILAC</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="13C15N" style="margin-right:20px;margin-left:10px">
                    13C15N</input> </label>
            </div>
            <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="aqua" style="margin-right:20px;margin-left:10px">
                    aqua</input> </label>
            </div> 
                       <div class="span2">
                <label class="checkbox inline" style="vertical-align:top">
                    <input type="checkbox" name="implicitmodif" value="de_aqua" style="margin-right:20px;margin-left:10px">
                    de_aqua (removes aqua modifs)</input> </label>
            </div>
        </div>
    </div>
</div>
</div>