<td class="peptide">{{peptide}}</td>
<td class="scanNumber">{{expSpectrum.scanNumber}}</td>
<td class="retentionTime">{{expSpectrum.rtMin}}</td>
<td class="precMoz">{{expSpectrum.precMoz}}</td>
<td class="precCharge">{{expSpectrum.precCharge}}+</td>
<td class="deltaDa">{{delta.da}}</td>
<td class="deltaPPM">{{delta.ppm}}</td>
<td class="matchEdit"><a href="#interactive/{{expSpectrum.id}}/{{fragmentTol}}/{{peptide}}" target="__ID_INTERACTIVE__"><i class="icon-pencil"></i></a></td>
<!--<td class="matchFavorize"></td>-->
<td class="match-map small"></td>
<td class="match-map large"></td>
