<table class="spm table table-striped">
	<thead>
		<th class="peptide">peptide</th>
		<th class="scanNumber">scan</th>
		<th class="retentionTime">rt (min)</th>
		<th class="precMoz">prec moz</th>
		<th class="precCharge">prec z</th>
		<th class="deltaDa">&Delta;<sub>mass</sub> Da</th>
		<th class="deltaPPM">&Delta;<sub>mass</sub> ppm</th>
        <th class="matchEdit">edit</th>
<!--        <th class="matchFavorize">save</th>-->
		<th class="match-map small">match</th>
		<th class="match-map large">match details <button id="scale-locker" class="btn glyphicons unlock inline pull-right"><i></i></button></th>
	</thead>
	<tbody> </tbody>
</table>
