<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">How to fishTones-js?</a>
                <ul class="nav navbar-nav">
                    <li><a href="getting-started.html">getting started</a>
                    </li>
                    <li><a href="dry.html"
                                          title="peptides, proteins, theoretical masses and fragmentation spectra">dry</a>
                    </li>
                    <li><a href="wet.html" title="experimental">wet</a>
                    </li>
                    <li><a href="match.html"
                           title="matching stuff">match</a></li>
                    <li><a href="more.html" title="composing">more</a>
                    </li>
                </ul>

            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="mailto:masselot.alexandre@gene.com">contact us</a></li>
                    <li><a href="http://github.com/genentech/fishtones-js/issues">file an issue</a></li>
                    <li><a href="http://github.com/genentech/fishtones-js">github</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>